<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<ul id="sortable" class="list-unstyled">
  <li class="ui-state-default" *ngFor="let todo of todoList; let i=index">
    <div class="checkbox">
      <label><input type="checkbox" value="" />{{todo.name}}</label>
      <button class="remove-item btn btn-default btn-xs pull-right" (click)="removeTodo(i)">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </div>
  </li>
</ul>
<div class="todo-footer">
  <strong><span class="count-todos"></span></strong> Items Left
  <span class="filter">
    <a class="all" href="#/">All</a>
    <a class="active" href="#/">ACTIVE</a>
    <a class="completed" href="#/">COMPLETED</a>
  </span>
</div>
